/*//Styles //*/

body{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

/*//Header//*/

.banner{
    background-image: url(/imagenes/fondo_abstract.jpg);
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    background-color: rgba(115, 4, 251, 0.835);
   }


.avatar{
    margin-top: 400px;    
    color:rgba(115, 4, 251, 0.835);
    }


.name{
     margin-bottom: 10;
     }

/*//main//*/

main{
    margin-top: 100px;
}

section{
    margin-bottom: 100px;
}

.container{
    border-radius: 20px;
    border-style: dotted;
    border-color: rgb(43, 205, 226);
    padding-top: 2em;
    padding-bottom: 2em;
}

.skill-tittle{
    margin-top: 3em;
    margin-bottom: 2em;
    padding-left: 2em;
}

.progress{
    margin-bottom: 2em;
 }

