.banner{
    background-image: url(/imagenes/fondo_abstract.jpg);
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    background-color: rgba(115, 4, 251, 0.835);
   }

   body{
    background-color: black;
    color: aliceblue;
}

.space{
    height: 300px;    
    color:rgba(115, 4, 251, 0.835);
    }

.name{
     margin-bottom: 10;
     }
     


section{
    margin-bottom: 100px;
}

.container{
    border-radius: 20px;
    border-style: dotted;
    border-color: rgb(43, 205, 226);
}



.skill-tittle{
    margin-bottom: 2em;
    margin-top: 2em;
    margin-left: 4em;
}

.progress{
    margin-bottom: 2em;
 }